[user]
    name = Akihiro Kondo
    email = akihyro@gmail.com
[core]
    attributesfile = ~/.gitattributes
    autocrlf = false
[color]
    ui = true
[interactive]
    singlekey = true
[alias]
    a = add
    aa = !git add "$(git rev-parse --show-toplevel)"
    b = branch --verbose
    br = branch
    c = commit --verbose
    co = checkout
    cp = cherry-pick
    d = diff
    dl = diff --name-status
    f = fetch --prune
    l = log --pretty=fuller --abbrev-commit --name-status --decorate --date=iso
    lg = log --pretty=format:'%C(yellow)%h%Creset %ad %s %C(green)<%an>%Creset%C(cyan)%d%Creset' --graph --date=short
    ll = log --pretty=format:'%C(yellow)%h%Creset %ad %s %C(green)<%an>%Creset%C(cyan)%d%Creset' --date=short
    ls = ls-files
    lt = ls-tree --abbrev --long HEAD
    m = merge --no-ff
    modx = update-index --chmod=+x
    mod-x = update-index --chmod=-x
    p = pull
    pu = push --set-upstream
    s = status --branch --short
    sh = show --pretty=fuller --abbrev-commit --decorate --date=iso
    stl = stash list
    stp = stash pop
    sts = stash save --include-untracked
[diff "properties"]
    textconv = native2ascii -reverse
[push]
    default = current
