[alias]
    a = add
    aa = add --all
    ap = add --patch
    b = branch --verbose --verbose
    ba = branch --all --verbose --verbose
    c = commit
    ca = commit --amend --no-edit
    co = checkout
    cp = cherry-pick
    d = diff
    dl = diff --name-status
    f = fetch
    l = log --graph --name-status
    ls = ls-files --abbrev --stage
    m = merge --no-edit
    p = pull
    pu = push --set-upstream
    rb = rebase
    rbi = rebase --interactive
    s = status
    sh = show
    st = stash
    std = stash drop
    sti = stash push --include-untracked
    stl = stash list
    sto = stash pop
    sts = stash show
    t = tag
    tl = tag --list -n
[color]
    ui = auto
[commit]
    cleanup = scissors
    verbose = true
[core]
    attributesfile = ~/.gitattributes
    autocrlf = false
    excludesfile = ~/.gitignore
[diff]
    colormoved = dimmed_zebra
[fetch]
    prune = true
    prunetags = true
[format]
    pretty = fuller
[interactive]
    singlekey = true
[log]
    abbrevcommit = true
    date = iso
    decorate = short
    follow = true
[merge]
    ff = false
    stat = true
[pull]
    ff = only
[push]
    default = current
    followtags = true
[rebase]
    abbreviatecommands = true
    autostash = true
    stat = true
[stash]
    showstat = true
[status]
    branch = true
    short = true
    showuntrackedfiles = all
[tag]
    sort = -version:refname
[user]
    email = akihyro@gmail.com
    name = Akihiro Kondo
