[alias]
    a = add
    aa = add --all
    ap = add --patch
    b = branch --verbose
    ba = branch --all --verbose
    c = commit
    ca = commit --amend --no-edit
    co = checkout
    cp = cherry-pick
    d = diff
    dl = diff --name-status
    f = fetch
    l = log --graph --name-status
    ls = ls-files --abbrev --stage
    m = merge --no-edit
    p = pull
    pu = push --set-upstream
    r = rebase
    s = status --branch --short
    sh = show
    stl = stash list
    stp = stash pop
    sts = stash save --include-untracked
    t = tag
    tl = tag --list -n
[color]
    ui = auto
[commit]
    verbose = true
[core]
    attributesfile = ~/.gitattributes
    autocrlf = false
    excludesfile = ~/.gitignore
[diff]
    colormoved = dimmed_zebra
[fetch]
    prune = true
[format]
    pretty = fuller
[interactive]
    singlekey = true
[log]
    abbrevcommit = true
    date = iso
    decorate = short
    follow = true
[merge]
    ff = false
[pull]
    ff = only
[push]
    default = current
    followtags = true
[rebase]
    autostash = true
[tag]
    sort = -version:refname
[user]
    email = akihyro@gmail.com
    name = Akihiro Kondo
