[alias]
    a = add
    aa = add --all
    b = branch --verbose
    ba = branch --all --verbose
    c = commit
    ca = commit --amend --no-edit
    co = checkout
    cp = cherry-pick
    d = diff
    dl = diff --name-status
    f = fetch
    l = log --pretty=fuller --abbrev-commit --name-status --decorate --date=iso
    lg = log --pretty=format:'%C(yellow)%h%Creset %ad %s %C(green)<%an>%Creset%C(cyan)%d%Creset' --graph --date=short
    ll = log --pretty=format:'%C(yellow)%h%Creset %ad %s %C(green)<%an>%Creset%C(cyan)%d%Creset' --date=short
    ls = ls-files
    m = merge --no-ff
    p = pull
    pu = push --set-upstream
    s = status --branch --short
    sh = show --pretty=fuller --abbrev-commit --decorate --date=iso
    stl = stash list
    stp = stash pop
    sts = stash save --include-untracked
    t = tag --list -n --sort=-taggerdate
[color]
    ui = auto
[commit]
    verbose = true
[core]
    attributesfile = ~/.gitattributes
    autocrlf = false
    excludesfile = ~/.gitignore
[diff]
    colormoved = dimmed_zebra
[fetch]
    prune = true
[interactive]
    singlekey = true
[push]
    default = current
[rebase]
    autostash = true
[user]
    email = akihyro@gmail.com
    name = Akihiro Kondo
